attpc_engine==0.1.7
click==8.1.7
h5py==3.11.0
llvmlite==0.43.0
numba==0.60.0
numpy==1.26.4
packaging==24.1
pandas==2.2.2
pathlib==1.0.1
polars==1.4.1
pycatima==1.90
python-dateutil==2.9.0.post0
pytz==2024.1
scipy==1.14.0
shapely==2.0.5
six==1.16.0
spyral-utils==1.1.0
tqdm==4.66.5
tzdata==2024.1
vector==1.4.1